#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 0.5rem 1rem;
  text-align: center;
}


.chart {
  height: 320px;
  margin-top: 1.5rem;
  flex: 1 1 0;
  min-width: 350px;
}

.charts-row {
  display: flex;
  gap: 8rem;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: nowrap;
}
